body {
	background-color: #2f343f;
}

nav .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #99ccff;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color:   #ac3973;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #0052cc;
  color:  #ff99cc;
}
