* {
	padding: 0;
	margin: 0;
}

html {
overflow-y: scroll;
}

body {
	background-color: #2f343f;
    	color: white;
    	font-family: Arial;
    	width: 80%;
	margin: auto;
}

.navbar {
	background-color: #333;
	color: #fff;
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
.navbar li {
	padding: 10px 20px;
}


.navbar ul li a{
	text-decoration: none;
	color: #fff;
}

.navbar ul li a:hover {
	background-color: #555;
}

.header{
	text-align: center;

}
.article{
	text-align: center;
	padding: 10px;
}


.section{
	text-align: center;
	padding: 20px;
}

.article ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.article ul li{
       padding: 10px;
}       
.article ul li{
       background-color: #333;
       font-style: verdana, Arial;
        
}       
.article ul li a{
	text-decoration: none;
	color: #00bfff;
}
.article ul li a:hover {
	background-color: #555;
	color: #0000ff;
}	

